{% extends "admin/base.html" %}
{% load static %}

{% block title %}Админка TS{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!-- Красный favicon -->
    <link rel="icon" href="{% static 'social/images/logo.png' %}?v=999" type="image/x-icon">

    <style>
        #header {
            background-color: #c62828 !important;
        }
        #header .branding {
            color: white !important;
        }
        #header .branding img {
            height: 40px;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 class="branding">
        <img src="{% static 'social/images/logo.png' %}" alt="Admin TS">
        TS Admin
    </h1>
{% endblock %}
