{% extends "base.html" %}

 {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}Главная{% endblock %}

{% block content %}
    <h1 class="mb-4">Лента постов</h1>

    {% if user.is_authenticated %}
        <div class="card mb-4">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Опубликовать</button>
                </form>
            </div>
        </div>
    {% else %}
        <p class="alert alert-info">Чтобы опубликовать посты, войдите в систему.</p>
    {% endif %}

    {% for post in posts %}
    <div class="card mb-3">
        <div class="card-header d-flex align-items-center">
            {% if post.autor.avatar %}
                <a href="{% url 'user_profile' post.autor.username %}" class="me-2">
                    <img src="{{ post.autor.avatar.url }}" alt="{{ post.autor.username }}'s avatar" class="post-avatar rounded-circle" style="width:35px; height:35px; object-fit:cover; border-radius:50%;">
                </a>
            {% endif %}
            <div class="post-meta">
                <strong>{{ post.autor.username }}</strong>
                <small class="text-muted ms-2 post-date">{{ post.created_at|date:"d M Y H:i" }}</small>
            </div>
        </div>
        <div class="card-body">
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid mt-2" alt="Post image" style="width:200px; height:200px;">
            {% endif %}
        </div>
        <div class="card-footer d-flex align-items-center">
            <button class="btn btn-outline-danger btn-sm like-btn me-2" data-id="{{ post.id}}">
                {% if post.liked_by_user %}
                    ❤️
                {% else %}
                    🤍
                {% endif %}
            </button>
            <span id="likes-{{ post.id }}">{{ post.likes.count }}</span> лайков
        </div>
    </div>
    {% empty %}
        <p class="text-muted">Пока нет постов</p>
{% endfor %}

{% endblock %}
